*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(218, 216, 216);
}

body {
    height: 100vh;
    background: #1a1919;
}

@font-face {
    font-family: digital;
    src: url(Digital7-1e1Z.ttf);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calculadora {
    max-width: 550px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    background: #1a1919;
    box-shadow: 0 0 50px 0 #ffffff0a;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantalla {
    width: 75%;
    max-height: 6em;
    height: 100%;
    margin: 2em 0;
    background: #80ff0046;
    border-radius: 5px;
    border: #1a1919 3px solid;
    outline: #00000048 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numero {
    font-size: 2.5em;
    overflow: hidden;
    font-family: digital;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.btn {
    background: none;
    border-radius: 5px;
    border: black solid 2px;
    padding: 30px;
    transition: all .2s;
    box-shadow: 0 0 1px 0 #ffffff2d;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.164);
    cursor: pointer;
    box-shadow: 0 0 4px 0 #ffffff2d;
}

.btn:active {
    background: rgba(0, 0, 0, 0.315);
    transform: scale(1.1);
}

.off {
    grid-column-start: 1;
    grid-column-end: 3}

.suma {
    grid-column-start: 4;
    grid-row: 4;
    grid-row-end: 6;
}